<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
            <a id="logo" class="logo-text" href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
            <nav id="main-nav">
                {{ range .Site.Menus.main }}
                <a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </nav>
            <nav id="sub-nav">
                <div id="search-form-wrap">
                </div>
            </nav>
        </div>
    </div>
	<center><script type="text/javascript">
	atOptions = {
		'key' : '12b76754517f898796bc4be794828434',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.gatetodisplaycontent.com/12b76754517f898796bc4be794828434/invoke.js"></scr' + 'ipt>');
</script></center>
</header>
